
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

.book_table {
    border-collapse: collapse;
    width: auto;
    min-width: 500px;
    margin: 50px 0;
    box-shadow: 0 5px 50px rgba(0, 0, 0, .15);
    border: 2px solid darkblue;
}

thead tr {
    background-color: darkblue;
    color: lightblue;
}

th, td {
    border: 1px solid #333;
    padding: 20px;
}

tbody, td, th, tr {
    border: 1px solid #bbb;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

.book_table button{
    display: block;
    margin: 0 auto;
}